*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	/*background-color: #F7EDED;*/
	background: url(img/fon.jpg) ;
}
h1{
	text-align: center;
	padding-top: 1%;
	color: #0c0c0c;
}
.top{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	margin-top: 18%;
	width: 100em;
	/*border: 1px solid black;*/
}
#search{
	width: 90em;
	height: 5em;
	margin-left: 10em;
	border-radius: 45px;
	font-size: 14px;
	padding: 0 0 0 15px;
	color: #564887;
	font-family: 'Montserrat', sans-serif;
	/*font-weight: 600;*/
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
	border: 1px solid purple;
}
input[type="text"]{
	/*padding: 0 0 0 20px;*/
	/*font-size: 48px;*/
	/*color: blue;*/
}
input{
	width: 7em;
	height: 3em;
	border-radius: 5px;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}
input[type="button"]{
	background-color: #fff;
	width: 8em;
	height: 5em;
	border-radius: 45px;
	box-shadow: 0 8px 15px rgba(0,0,0,.1);
	margin-left: -8em;
	font-size: 14px;
	border: 1px solid purple;
	/*margin-top: 0px;*/

}
a.btn, a.btnh, a.btnx{
  text-decoration: none;
  outline: none;
  display: inline-block;
  width: 160px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.1);
  transition: .3s;
}
a.btn:hover, a.btnh:hover{
  background: #2EE59D;
  box-shadow: 0 15px 20px rgba(46,229,157,.4);
  color: white;
}
a.btnh{
	/*visibility: hidden;*/
	z-index: -1;

}
.content{
	background: linear-gradient(45deg, #c488ef, #e5e07e);
	margin-left: 15em;
	margin-right: 5em;
	border-radius: 5px;
}
.content p{
	display: block;
	color: #262228;
	margin-left: 15em;
	margin-right: 5em;
	font-size: 26px;
	font-weight: 400;
}
.db{
	background-color: #fff;
	margin: 50px;
	padding: 50px;
}